<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @pledge.project %>
</p>

<p>
  <strong>Cart:</strong>
  <%= @pledge.cart %>
</p>

<%= link_to 'Edit', edit_pledge_path(@pledge) %> |
<%= link_to 'Back', pledges_path %>
