<div class="row">

<div class="col-md-1">
</div>
 <div class="jumbotron col-md-10 col-sm-10"> <!--jumbotron-->
    <!--<h2> The featured charity project needing your help</h2>-->
     <div class="container"> <!--entry removed entry class-->
      <div class="media well well-lg well-sm entry"> <!--media-->
        <div class="media-left"><!--media-left-->
         <%= image_tag(@top_priority.first.picture_url, size: "150x150", class: "media_image") %>
        </div> <!--media-left-->
        <div class="media-body"> <!--media-body-->
         <h1> <%= @top_priority.first.title %> </h1>
         <%= sanitize(@top_priority.first.description) %>
         <div class="estimate_line"> <!-- estimate-line-->
          <span class="estimate">Estimate: <%= number_to_currency(@top_priority.first.estimate) %></span>
         </div> <!-- estimate-line -->
  <section class="search-form">
           <%= form_tag pledges_path(project_id: @top_priority.first.id), method: "post", remote: true do %>
            <div class="input-group input-group-lg"> <!-- input-group-->
           <%= text_field_tag :amount, nil, placeholder:'0.00', id: 'new-todo', class: "form-control input-lg" %>
       <span class="input-group-btn">
           <%= submit_tag 'Make Pledge', class: "btn btn-danger btn-lg" %>
       </span>
       </div><!--input-group-->
           <% end %>
         </section>	

         </div> <!-- media-body -->
       </div> <!--media-->
      <% if !user_signed_in? %>
      <%= link_to "Sign up to Help now!", new_user_registration_path, class: "btn btn-lg btn-success" %>
      <% end %>
    </div> <!--entry-->
  </div> <!--jumbotron-->




</div>




<div class="row">
 <div class="col-lg-4 col-md-4 panel panel-default entry">
   <div class="panel-heading">
   <h3><%= @watching.first.title %></h3>
   </div>
   <div class="panel-body">
   <h3 class="midrow">
    View Charity Project and pledge
   </h3>
   <p> <%= truncate(strip_tags(@watching.first.description), length: 180) %> </p>
   <h2 class="left">Make a pledge here and now</h2>
    
<div class="estimate_line"> <!-- estimate-line-->
          <span class="estimate">Estimate: <%= number_to_currency(@watching.first.estimate) %></span>
         </div> <!-- estimate-line -->
  <section class="search-form">
           <%= form_tag pledges_path(project_id: @watching.first.id), method: "post", remote: true do %>
            <div class="input-group input-group-lg"> <!-- input-group-->
           <%= text_field_tag :amount, nil, placeholder:'0.00', id: 'new-todo', class: "form-control input-lg" %>
       <span class="input-group-btn">
           <%= submit_tag 'Make Pledge', class: "btn btn-danger btn-lg" %>
       </span>
       </div><!--input-group-->
           <% end %>
         </section>	

   <p><%= link_to "Read more", "", class: "btn btn-warning btn-small", data: { toggle: "modal", target: "#MmyModal" }  %></p>
   <%= render 'projects/show' %> 
   </div>
  </div>
 
 <div class="col-lg-4 col-md-4 panel panel-success entry">
  <div class="panel-heading">
   <h3><%= @watching.second.title %></h3>
   </div>
   <div class="panel-body">
   <h3 class="midrow">
    View Charity Project and pledge
   </h3>
    <p><%= truncate(strip_tags(@watching.second.description), length: 180) %></p>
   <h2 class="left">Make a pledge here and now</h2>

<div class="estimate_line"> <!-- estimate-line-->
          <span class="estimate">Estimate: <%= number_to_currency(@watching.second.estimate) %></span>
         </div> <!-- estimate-line -->
  <section class="search-form">
           <%= form_tag pledges_path(project_id: @watching.second.id), method: "post", remote: true do %>
            <div class="input-group input-group-lg"> <!-- input-group-->
           <%= text_field_tag :amount, nil, placeholder:'0.00', id: 'new-todo', class: "form-control input-lg" %>
       <span class="input-group-btn">
           <%= submit_tag 'Make Pledge', class: "btn btn-danger btn-lg" %>
       </span>
       </div><!--input-group-->
           <% end %>
         </section>	

   <p><%= link_to "Read more", "", class: "btn btn-warning btn-small", data: { toggle: "modal", target: "#myModal2" }  %></p>
   </div>
 </div>

 <div class="col-lg-4 col-md-4 panel panel-info entry">
   <div class="panel-heading">
   <h3><%= @watching.third.title %></h3>
   </div>
   <div class="panel-body">
   <h3 class="midrow">
    View Charity Project and pledge
   </h3>
  <p> <%= truncate(strip_tags(@watching.third.description), length: 180) %></p>
   <h2 class="left">Make a pledge here and now</h2>

<div class="estimate_line"> <!-- estimate-line-->
          <span class="estimate">Estimate: <%= number_to_currency(@watching.third.estimate) %></span>
         </div> <!-- estimate-line -->
  <section class="search-form">
           <%= form_tag pledges_path(project_id: @watching.third.id), method: "post", remote: true do %>
            <div class="input-group input-group-lg"> <!-- input-group-->
           <%= text_field_tag :amount, nil, placeholder:'0.00', id: 'new-todo', class: "form-control input-lg" %>
       <span class="input-group-btn">
           <%= submit_tag 'Make Pledge', class: "btn btn-danger btn-lg" %>
       </span>
       </div><!--input-group-->
           <% end %>
         </section>	

   <p><%= link_to "Read more", "", class: "btn btn-warning btn-small", data: { toggle: "modal", target: "#myModal3" }  %></p>
  </div>
 </div>

</div>
