
 <div class="row">
  <div class="col-md-6 col-md-offset-2">
   
   <%= render 'shared/page_title', title: @project.title %>  
  </div>
  <div class="col-md-2">
   <% if user_signed_in? %>
    <%= link_to "Edit Project", edit_project_path,  class: "btn btn-lg btn-success" %>
   <% end %>
  </div>
 </div>

   <div class="container entry"> <!--entry-->
      <div class="media well well-lg"> <!--media-->
        <div class="media-left"><!--media-left-->
         <%= image_tag(@project.image_url, class: "media_image") %>
        </div> <!--media-left-->
        <div class="media-body"> <!--media-body-->
         <h1> <%= @project.title %> </h1>
         <%= sanitize(@project.description) %>
         <div class="estimate_line"> <!-- estimate-line-->
          <span class="estimate">Estimate: <%= number_to_currency(@project.estimate) %></span>
           <%= form_tag pledges_path(project_id: @project), method: "post", remote: true do %>
           <%= text_field_tag 'amount',nil,placeholder:'0.00', id: 'new-todo' %>
           <%= submit_tag 'Make Pledge', class: "btn btn-default btn-danger" %>
           <% end %>
         </div> <!-- estimate-line -->
         </div> <!-- media-body -->

        <div class="pull-right">
          <%= link_to like_project_path(@project, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @project.thumbs_up_total %>
          <% end %>&nbsp&nbsp&nbsp&nbsp
          <%= link_to like_project_path(@project, like: false), method: :post do %>
           <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @project.thumbs_down_total %>
          <% end %>
        </div>

       </div> <!--media-->
    </div> <!--entry-->
  

 <h5><%= link_to "Return to Projects listing", projects_path, class: "btn btn-warning btn-small" %></h5>

