
 <div class="row">
  <div class="col-md-6 col-md-offset-2">
   
   <%= render 'shared/page_title', title: @project.title %>  
  </div>
  <div class="col-md-2">
   <% if user_signed_in? %>
    <%= link_to "Edit Project", edit_project_path,  class: "btn btn-lg btn-success" %>
   <% end %>
  </div>
 </div>

   <div class="container entry"> <!--entry-->
    <div class="wells wells-lg"> <!--wells-->
      <div class="row"> <!--media-->
        <div class="col-md-4"><!--media-left-->
         <%= image_tag(@project.picture_url, size: "250x250", class: "media_image") if @project.picture? %>
        </div> <!--media-left-->
        <div class="col-md-7"> <!--media-body-->
         <%= sanitize(@project.description) %>
         <div class="estimate_line"> <!-- estimate-line-->
          <span class="estimate">Estimate: <%= number_to_currency(@project.estimate) %></span>
           <%= form_tag pledges_path(project_id: @project), method: "post", remote: true do %>
           <%= text_field_tag 'amount',nil,placeholder:'0.00', id: 'new-todo' %>
           <%= submit_tag 'Make Pledge', class: "btn btn-default btn-danger" %>
           <% end %>
         </div> <!-- estimate-line -->
           <div class="pull-right">
          <%= link_to like_project_path(@project, like: true), method: :post do %>
            <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @project.thumbs_up_total %>
          <% end %>&nbsp&nbsp&nbsp&nbsp
          <%= link_to like_project_path(@project, like: false), method: :post do %>
           <i class="glyphicon glyphicon-thumbs-down"></i>&nbsp <%= @project.thumbs_down_total %>
          <% end %>
        </div>
         </div> <!-- media-body -->


       </div> <!--media-->
      </div> <!--wells-->
    </div> <!--entry-->
<hr/>

    <div class="container">
      <div class="row">
      <div class="col-md-1">  
   </div>
       <div class="col-md-10">
      <%= image_tag(@project.picture.url) if @project.picture? %>
     </div>
  </div>
 </div>

 <h5><%= link_to "Return to Projects listing", projects_path, class: "btn btn-warning btn-small" %></h5>

