<!DOCTYPE html>
<html>
<head>
  <title>Helping Hand Philantrophy Brokers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>

<div id="banner">
<%= image_tag("logo.png") %>
<%= @page_title || "Thanks Giving" %>
<ul>
<% if user_signed_in? %>
 <a> <%= current_user.name %> </a>
 <ul>
  <li><%= link_to 'Profile', edit_user_registration_path %></li>
  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
 </ul>
 <% else %>
 <ul>
  <li><%= link_to 'Log In', new_user_session_path %></li>
  <li><%= link_to 'Sign Up', new_user_registration_path %></li>
 </ul>
<% end %>
</ul>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div id="columns">

<div id="side">
<div id="cart">
 <% if @cart %>
 <%= hidden_div_if(@cart.pledges.empty?, id: 'cart') do %>
 <%= render @cart %>
 <% end %>
 <% end %>
</div>
<ul>

<li><a href="http://localhost:3000/">Home</a></li>
<li> <a href= "http://www..../faq" > Questions </a> </li>
<li> <a href= "http://www..../news" > News </a> </li>
<li> <a href= "http://www..../contact" > Contact </a> </li>

</ul>

</div>

<div id="main">
<%= yield %>

</div>

</div>

</body>
</html>
