<!DOCTYPE html>
<html>
<head>
  <title>Helping Hand Philantrophy Brokers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>



<div class="container main1">

<%= render 'layouts/flashes' %>
<hr />
<div class="row">

<div class="col-sm-2 col-md-3 user-sidebar">
<%= render 'layouts/sidebar' %>
</div>

<div class="col-sm-9 col-md-8 col-md-offset-1 user-main">
<%= yield %>
</div>
</div>
<%= render 'layouts/footer' %>
</div>

</body>
</html>
